In [311]:
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from ast import literal_eval
import os
from glob2 import glob, iglob
from math import ceil

In [365]:
def conv_json_to_df(filepath):
    # json_dir_name = "s3://steam-recommender/Data/json_batch1"
    json_pattern = os.path.join(filepath) + '*.json'
    fileslist = glob(json_pattern)
    i = 0
    num_json = len(fileslist)
    df = pd.DataFrame()
    for files in fileslist:
        with open(files) as f:
            data = literal_eval(f.read())
            i += 1
            if data['response'] == {}:
                continue
            else:
                df_temp = json_normalize(data['response'], 'games')
                df_temp['userid'] = data['userid']
                df_temp.rename(columns={'playtime_forever' : 'playhrs'}, inplace=True)
                df_temp['playhrs'] = df_temp['playhrs'] / 60.0
                df_temp = df_temp[['userid','appid','playhrs']]
                if df.empty:
                    df = pd.DataFrame(columns = df_temp.columns)
                df = df.append(df_temp)
        if i % 100000 == 0 or i == num_json:
            df.to_csv(filepath + 'users_owned_games_{}.csv'.format(int(ceil(i/100000.0))), \
            index=False)
            df = df[0:0]
    return df

In [366]:
def pivot_data(filepath, df):
    json_pattern = os.path.join(filepath) + '*.csv'
    fileslist = glob(json_pattern)
    df = pd.DataFrame()
    for files in fileslist:
        df_temp = pd.read_csv(files)
        if df.empty:
            df = pd.DataFrame(columns = df_temp.columns)
        df = df.append(df_temp)

    df['has'] = 1
    df['userid'] = df['userid'].apply(lambda x: str(int(x)))
    df['userid'] = df['userid'].apply(lambda x: int(x))
    df = df[['userid','appid','has','playhrs']]
    df = pd.pivot_table(df,index=['userid'], columns = ['appid'], \
         values=['playhrs','has'],aggfunc=np.sum)
    df.columns =[s1 + '_' + str(int(s2)) for (s1,s2) in df.columns.tolist()]
    df.fillna(0, inplace=True)
    df[filter(lambda x: x.startswith("has"),df.columns)] = df[filter(lambda x: x.startswith("has"),df.columns)].astype(int)
    df.reset_index('userid', inplace=True)
    return df

In [367]:
df = conv_json_to_df('sample_json/')

In [371]:
df.head(20)

               userid   appid    playhrs
0   76561197960272283    10.0   0.716667
1   76561197960272283    20.0   0.000000
2   76561197960272283    30.0   0.000000
3   76561197960272283    40.0   0.000000
4   76561197960272283    50.0   1.433333
5   76561197960272283    60.0   0.000000
6   76561197960272283    70.0   0.950000
7   76561197960272283   130.0   2.116667
8   76561197960272283    80.0   0.000000
9   76561197960272283   100.0   0.000000
10  76561197960272283   220.0   0.066667
11  76561197960272283   240.0  55.350000
12  76561197960272283   280.0   0.000000
13  76561197960272283   300.0   0.083333
14  76561197960272283   320.0   0.000000
15  76561197960272283   340.0   0.000000
16  76561197960272283   360.0   0.000000
17  76561197960272283  1002.0   0.000000
18  76561197960272283  1300.0   0.000000
19  76561197960272283  1309.0   0.000000

In [376]:
df_T = pivot_data('sample_json/', df)

In [387]:
df_T

,userid,has_10,has_20,has_30,has_40,has_50,has_60,has_70,has_80,has_100,...,playhrs_497810,playhrs_497811,playhrs_497812,playhrs_497813,playhrs_500500,playhrs_515040,playhrs_524440,playhrs_539640,playhrs_550040,playhrs_585280
0,76561197960272288,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.000000,0.0,0.0
1,76561197960272736,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.00,0.15,0.0,0.016667,0.0,0.0
2,76561197960273728,1,1,1,1,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.000000,0.0,0.0
3,76561197960274912,1,1,1,1,1,1,1,0,0,...,0.0,0.0,0.0,0.0,8.65,0.00,0.0,0.000000,0.0,0.0
4,76561197960277744,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.000000,0.0,0.0

In [385]:
df_T[['userid','has_10','playhrs_10','has_20','playhrs_20','has_30','playhrs_30','has_730','playhrs_730']]

,userid,has_10,playhrs_10,has_20,playhrs_20,has_30,playhrs_30,has_730,playhrs_730
0,76561197960272288,1,0.716667,1,0.0,1,0.000000,1,967.783333
1,76561197960272736,1,486.116667,1,0.0,1,0.000000,1,2712.583333
2,76561197960273728,1,2025.883333,1,0.0,1,0.000000,1,2099.933333
3,76561197960274912,1,0.050000,1,0.0,1,0.000000,1,3892.983333
4,76561197960277744,1,297.300000,1,0.0,1,1051.866667,1,1986.316667

In [ ]:
76561197960274912

In [386]:
3892*60

233520

In [354]:
df_T.columns

Index([u'userid', u'has_10', u'has_20', u'has_30', u'has_40', u'has_50',
       u'has_60', u'has_70', u'has_80', u'has_100',
       ...
       u'playhrs_497810', u'playhrs_497811', u'playhrs_497812',
       u'playhrs_497813', u'playhrs_500500', u'playhrs_515040',
       u'playhrs_524440', u'playhrs_539640', u'playhrs_550040',
       u'playhrs_585280'],
      dtype='object', length=1203)

In [358]:
df_T[filter(lambda x: x.startswith("has"),df_T.columns)].columns

Index([u'has_10', u'has_20', u'has_30', u'has_40', u'has_50', u'has_60',
       u'has_70', u'has_80', u'has_100', u'has_130',
       ...
       u'has_497810', u'has_497811', u'has_497812', u'has_497813',
       u'has_500500', u'has_515040', u'has_524440', u'has_539640',
       u'has_550040', u'has_585280'],
      dtype='object', length=601)

In [353]:
df_T['has_10']

0    1
1    1
2    1
3    1
4    1
Name: has_10, dtype: int64