In [20]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [355]:
df4 = pd.read_csv('sample_df2.csv')

In [356]:
df5 = pd.read_csv('friends.csv')

In [357]:
df5.head()

,Unnamed: 0,Sample ID,Friends List
0,0,76561198170202362,"{'76561198170202362': [76561197962264387, 7656..."
1,1,76561198027157401,"{'76561198027157401': [76561197984366267, 7656..."
2,2,76561198072624976,"{'76561198072624976': [76561197967333664, 7656..."
3,3,76561198093869777,"{'76561198093869777': [76561197961787764, 7656..."
4,4,76561198212527244,"{'76561198212527244': [76561197995153956, 7656..."

In [358]:
actual = df5['Friends List'].tolist()

In [359]:
actual = [literal_eval(x) for x in actual]

In [360]:
user = [x.keys()[0] for x in actual]

In [361]:
friends = [x.values()[0] for x in actual]

In [362]:
df5['user'] = user

In [363]:
df5['friend'] = friends

In [364]:
df5 = df5[['user','friend']]

In [365]:
df5.rename(columns={'user':'Sample ID'}, inplace=True)

In [366]:
df4['Sample ID'] = df4['Sample ID'].astype(str)

In [367]:
df5['Sample ID'] = df5['Sample ID'].astype(str)

In [368]:
type(df5['Sample ID'].tolist()[0])

str

In [369]:
df4.head(2)

,Sample ID,model1,model2
0,76561198170202362,"{'76561198170202362': [76561198261226955, 7656...","{'76561198170202362': [76561198045294417, 7656..."
1,76561198027157401,"{'76561198027157401': [76561198283551598, 7656...","{'76561198027157401': [76561197973054167, 7656..."

In [370]:
df5.head(2)

           Sample ID                                             friend
0  76561198170202362  [76561197962264387, 76561197965106585, 7656119...
1  76561198027157401  [76561197984366267, 76561197995381211, 7656119...

In [411]:
df = pd.merge(df4, df5, on='Sample ID')

In [412]:
df.head()

,Sample ID,model1,model2,friend
0,76561198170202362,"{'76561198170202362': [76561198261226955, 7656...","{'76561198170202362': [76561198045294417, 7656...","[76561197962264387, 76561197965106585, 7656119..."
1,76561198027157401,"{'76561198027157401': [76561198283551598, 7656...","{'76561198027157401': [76561197973054167, 7656...","[76561197984366267, 76561197995381211, 7656119..."
2,76561198072624976,"{'76561198072624976': [76561198114953521, 7656...","{'76561198072624976': [76561198015344681, 7656...","[76561197967333664, 76561197990384807, 7656119..."
3,76561198093869777,"{'76561198093869777': [76561198074593220, 7656...","{'76561198093869777': [76561198176814243, 7656...","[76561197961787764, 76561197961859314, 7656119..."
4,76561198212527244,"{'76561198212527244': [76561198190232437, 7656...","{'76561198212527244': [76561198062828779, 7656...","[76561197995153956, 76561198038068965, 7656119..."

In [413]:
ids = df['Sample ID'].tolist()
model1 = df['model1'].tolist()
model1 = [literal_eval(x).values() for x in model1]
df['model1'] = model1
model2 = df['model2'].tolist()
model2 = [literal_eval(x).values() for x in model2]
df['model2'] = model2
actual = df['friend'].tolist()
length = [1 if len(l) >= 10 else 0 for l in actual]
score1 = []
score2 = []

for i in xrange(len(actual)):
    for item in actual[i]:
        if item in model1[i][0]:
            score1.append(1)
            break
    score1.append(0)

for i in xrange(len(actual)):
    for item in actual[i]:
        if item in model2[i][0]:
            score2.append(1)
            break
    score2.append(0)

# df['score1'] = score1
# df['score2'] = score2

In [416]:
sum(score1)

59

In [417]:
sum(score2)

41

In [ ]:
sum(df['score1'].tolist())

In [ ]:
sum(df['score2'].tolist())

In [278]:
model1 = df['model1'].tolist()
model1 = [literal_eval(x) for x in model1]
model2 = df['model2'].tolist()
model2 = [literal_eval(x) for x in model2]

In [ ]:
final['model1']