In [151]:
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from ast import literal_eval
import os
from glob2 import glob, iglob
from math import ceil

In [199]:
def conv_json_to_df(filepath):
    # json_dir_name = "sample_json/"
    # json_dir_name = "s3://steam-recommender/Data/json_batch1"
    json_pattern = os.path.join(filepath) + '*.json'
    fileslist = glob(json_pattern)
    i = 0
    num_json = len(fileslist)
    df = pd.DataFrame()
    for files in fileslist:
        with open(files) as f:
            data = literal_eval(f.read())
            i += 1
            if data['response'] == {}:
                continue
            else:
                df_temp = json_normalize(data['response'], 'games')
                df_temp['userid'] = data['userid']
                df_temp.rename(columns={'playtime_forever' : 'playhrs'}, inplace=True)
                df_temp['playhrs'] = df_temp['playhrs'] / 60.0
                df_temp = df_temp[['userid','appid','playhrs']]
                if df.empty:
                    df = pd.DataFrame(columns = df_temp.columns)
                df = df.append(df_temp)
        if i % 100000 == 0 or i == num_json:
            df.to_csv(filepath + 'users_owned_games_{}.csv'.format(int(ceil(i/100000.0))), \
            index=False, float_format='%0.2f')
#             df = df[0:0]
    return df

In [211]:
def pivot_data(filepath, df):
    json_pattern = os.path.join(filepath) + '*.csv'
    fileslist = glob(json_pattern)
    df = pd.DataFrame()
    for files in fileslist:
        df_temp = pd.read_csv(files)
        if df.empty:
            df = pd.DataFrame(columns = df_temp.columns)
        df = df.append(df_temp)

    df['has'] = 1
    df = df[['userid','appid','has','playhrs']]
    df = pd.pivot_table(df,index=['userid'], columns = ['appid'], \
         values=['playhrs','has'],aggfunc=np.sum)
    df.columns =[s1 + '_' + str(int(s2)) for (s1,s2) in df.columns.tolist()]
    df.reset_index('userid', inplace=True)
    df.fillna(0, inplace=True)
    return df

In [212]:
df = conv_json_to_df('sample_json/')

In [213]:
df.head()

              userid  appid   playhrs
0  76561197960272283   10.0  0.716667
1  76561197960272283   20.0  0.000000
2  76561197960272283   30.0  0.000000
3  76561197960272283   40.0  0.000000
4  76561197960272283   50.0  1.433333

In [214]:
df_T = pivot_data('sample_json/', df)

In [215]:
df_T

,userid,has_10,has_20,has_30,has_40,has_50,has_60,has_70,has_80,has_100,...,playhrs_497810,playhrs_497811,playhrs_497812,playhrs_497813,playhrs_500500,playhrs_515040,playhrs_524440,playhrs_539640,playhrs_550040,playhrs_585280
0,7.656120e+16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0
1,7.656120e+16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.00,0.15,0.0,0.02,0.0,0.0
2,7.656120e+16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0
3,7.656120e+16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.65,0.00,0.0,0.00,0.0,0.0
4,7.656120e+16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0